#chessboard {
    width: 640px;
    height: 640px;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.square {
    width: 80px;
    height: 80px;
}
.light {
    background-color: #ffefe3;
}
.dark {
    background-color: #612B05;
}